# Wood Types
public net.minecraft.world.level.block.state.properties.WoodType register(Lnet/minecraft/world/level/block/state/properties/WoodType;)Lnet/minecraft/world/level/block/state/properties/WoodType;
# Criteria Triggers
public net.minecraft.advancements.CriteriaTriggers register(Lnet/minecraft/advancements/CriterionTrigger;)Lnet/minecraft/advancements/CriterionTrigger;
# Recipe Book
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent width
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent height
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent xOffset
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent searchBox
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent tabButtons
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent recipeBookPage