# Wood Types
public net.minecraft.world.level.block.state.properties.WoodType register(Lnet/minecraft/world/level/block/state/properties/WoodType;)Lnet/minecraft/world/level/block/state/properties/WoodType;
# Criteria Triggers
public net.minecraft.advancements.CriteriaTriggers register(Lnet/minecraft/advancements/CriterionTrigger;)Lnet/minecraft/advancements/CriterionTrigger;
# Recipe Button Overlay
public net.minecraft.client.gui.screens.recipebook.OverlayRecipeComponent
public net.minecraft.client.gui.screens.recipebook.OverlayRecipeComponent$OverlayRecipeButton
public net.minecraft.client.gui.screens.recipebook.OverlayRecipeComponent$OverlaySmeltingRecipeButton